html {
    height: 101%;
    margin: 0;
}

aside {
    background: #FFFFFF;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 120px;
}
ul {
    list-style: none;
    position: relative;
    text-align: center;
    display: inline-block;
}


.container {
    left: 0;
    margin-left: 100px;
    opacity: 0;
    position: relative;
    text-align: center;
}

figure {
    margin: 0;
}

.vertical-text {
    transform: rotate(270deg);
    margin-top: 180px;
    font-size: 1.4em;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.img-title {
    font-size: 0.8em;
    overflow: hidden;
    word-wrap: break-word;
    font-weight: bold;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: inline-block;
}

.img-desc {
    font-size: 0.75em;
     overflow: hidden;
     word-wrap: break-word;
     font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
     display: inline-block;
}

.hidden-link {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.toggle-text {
}

.toggle-about {
}

.left-arrow {
text-align: left;
float:left;
color: grey;
font-size: 1.2em;
}

.right-arrow {
text-align: right;
float:right;
color: grey;
font-size: 1.2em;
}

.navigation-keys {
  display: inline-block;
  margin-top: 30px;
    margin-left: 41px;
}

.work {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
