html {
    height: 100%;
    margin: 0;
}
aside {
    background: #FFFFFF;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 120px;
}
ul {
    list-style: none;
}
section {
    background: #FFFFFF;
    height: 100%;
    margin-top: 60px;
}
header {
    background: #FFFFFF;
    height: 60px;
    left: 0;
    margin-left: 120px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 99;
}

.container {
    left: 0;
    margin-left: 120px;
    min-height: 100%;
    position: relative;
    text-align: center;
}

figure {
    margin: 0;
}

.vertical-text {
    transform: rotate(270deg);
    margin-top: 180px;
    font-size: 1.4em;
    font-family: "Lucida Console", Times, serif;
}