html {
    height: 100%;
    margin: 0;
}

aside {
    background: #FFFFFF;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 120px;
}
ul {
    list-style: none;
    position: relative;
    text-align: center;
    display: inline-block;
}


.container {
    left: 0;
    margin-left: 100px;
    min-height: 100%;
    position: relative;
    text-align: center;
}

figure {
    margin: 0;
}

.vertical-text {
    transform: rotate(270deg);
    margin-top: 180px;
    font-size: 1.4em;
    font-family: "Lucida Console", Times, serif;
}

.img-title {
    font-size: 0.8em;
    overflow: hidden;
    font-weight: bold;
    font-family: "Lucida Console", Times, serif;
}

.img-desc {
    font-size: 0.75em;
     overflow: hidden;
     word-wrap: break-word;
     max-width: 400px;
    font-family: "Lucida Console", Times, serif;
}

.hidden-link {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.toggle-text {
}

.left-arrow {
text-align: left;
float:left;
color: grey;
font-size: 1.2em;
}

.down-arrow {
text-align: center;
color: grey;
font-size: 1.2em;
}

.right-arrow {
text-align: right;
float:right;
color: grey;
font-size: 1.2em;
}

.navigation-keys {

  list-style: none;
  overflow: hidden;
  max-width: 400px;
  width: 400px;
  display: inline-block;
  margin-top: 60px;
}

.work {
  max-width: 400px;
  max-height:  600px;
  width: 400px;
  height:  600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.uniform-width {
    max-width: 538px;
    width: 538px;
    text-align: center;
    position: relative;
    display: inline-block;
}