html {
    height: 101%;
    margin: 0;
}

aside {
    background: #FFFFFF;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 120px;
}
ul {
    list-style: none;
    position: relative;
    text-align: center;
    display: inline-block;
}


.container {
    left: 0px;
    top: 0px;
    margin-left: 100px;
    margin-right: 100px;
    opacity: 0;
    position: relative;
    text-align: center;
}

figure {
    margin: 0;
}

.vertical-text {
    position: fixed;
    text-shadow: 1px 0 #000000;
    font-weight: bolder;
    text-align: left;
    transform-origin: left top;
    transform: rotate(270deg);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.jess-email {
}
.jess-about {
}
.jess-phone {
}

.img-title {
    font-size: 1.4em;
    overflow: hidden;
    word-wrap: break-word;
    font-weight: bolder;
    font-family: Arial, "Helvetica Bold", Helvetica, sans-serif;
    display: inline-block;
}

.img-desc {
    font-size: 1.2em;
    font-weight: bolder;
     overflow: hidden;
     word-wrap: break-word;
     font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
     display: inline-block;
}

.hidden-link {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.toggle-text {
}

.left-arrow {
float:left;
color: grey;
font-size: 1.2em;
position: fixed;
    z-index: 999999;
}

.right-arrow {
text-align: right;
float:right;
color: grey;
font-size: 1.2em;
position: fixed;
    z-index: 999999;
}

.more-arrow {
    text-align: right;
    float:right;
    color: grey;
    font-size: 1.2em;
    position: fixed;
    z-index: 999999;
}


.navigation-button {
    max-width: 50px;
    max-height: 50px;
    width: 50px;
    height: 50px;
}

.work {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    z-index: 90000;
}

.work-head {
    cursor: url(../img/cursor.png), default;
    z-index: 900000;
}
