html {
    height: 101%;
    margin: 0;
    opacity: 0;
}

aside {
    background: #FFFFFF;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 120px;
}
ul {
    list-style: none;
    position: relative;
    text-align: center;
    display: inline-block;
}

iframe {
    width: 640px;
    height: 500px;
}


.container {
    left: 0px;
    top: 0px;
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
    text-align: center;
}

figure {
    margin: 0;
}

.vertical-text {
    position: fixed;
    font-weight: bolder;
    text-align: left;
    transform-origin: left top;
    transform: rotate(270deg);
    font-family: Arial, sans-serif;
}
.jess-email {
}
.jess-about {
}
.jess-phone {
}

.img-title {
    font-size: 1.3em;
    overflow: hidden;
    word-wrap: break-word;
    font-weight: bolder;
    font-family: Arial, sans-serif;
    display: inline-block;
    text-align: left;
}

.img-desc {
    font-size: 0.75em;
    font-weight: bolder;
     overflow: hidden;
     word-wrap: break-word;
     font-family: Arial, sans-serif;;
     display: inline-block;
     text-align: left;

}

thick-bold {
text-shadow: 1px 0px 0px #000000, -1px 0px 0px #000000, 0px -1px 0px #000000, 0px 1px 0px #000000, 1px 1px 0px #000000, -1px 1px 0px #000000, 1px -1px 0px #000000, -1px -1px 0px #000000;
}

.hidden-link {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.toggle-text {
}

.left-arrow {
float:left;
color: grey;
font-size: 1.2em;
position: fixed;
    z-index: 999999;
}

.right-arrow {
text-align: right;
float:right;
color: grey;
font-size: 1.2em;
position: fixed;
    z-index: 999999;
}

.more-arrow {
    text-align: right;
    float:right;
    color: grey;
    font-size: 1.2em;
    position: fixed;
    z-index: 999999;
}


.navigation-button {
    max-width: 50px;
    max-height: 50px;
    width: 50px;
    height: 50px;
}

.work {
    cursor: default;
    z-index: 999999;
}

.work-head {
    cursor: url(../img/cursor.png) 15 15, crosshair;
}
