body {
    height:100%;
    width:100%;
    margin:0;padding:0;
    max-width: 100%;
    overflow-x: hidden;
}

.slideshow {
    position: relative; /* necessary to absolutely position the images inside */
    width: 500px; /* same as the images inside */
    height: 100px;
}
.slideshow img {
    position: absolute;
    display: none;
}
.slideshow img:first-child {
    display: block; /* overrides the previous style */
}

#wrapper {
    width:100%;
    height:100%;
    position:absolute;
    top:0;left:0;
    background-color: #ffffff;
    overflow:hidden;
}

#mask {
    width:500%;
    height:100%;

    background-color:#eee;
}

.item {
    width:20%;
    height:100%;
    float:left;
    background-color:#ddd;
}


.content {
    background-color: #ffffff;
    position:relative;
}

.selected {
    background:#fff;
    font-weight:700;
}

.clear {
    clear:both;
}