html {
    height: 101%;
    margin: 0;
    opacity: 1;
    cursor: url(../img/cursor.png) 15 15, crosshair;
}

body {
    cursor: url(../img/cursor.png) 15 15, crosshair;
	  background-image: url("designjlh/img/BG.gif");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}

a {
    cursor: url(../img/cursor.png) 15 15, crosshair;
}



#Home {
    position: fixed;
    left: 3%;
    top: 3%;
    min-width: 4%;
    max-width: 4%;
    height:auto;
    display: none;
}


h1 {
    word-wrap: break-word;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif
	font-size: 100px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 50px;

    display: inline-block;
    text-align: left;
    max-width: 50%;
    min-width: 100%;
    padding: 2%;
	} 

a:link {
    color: black;
}


a:visited {
    color: black;
}


a:hover {
    color: black;
text-decoration: underline;
}


a:active {
    color: black;
	 text-decoration: underline;
}

.img-desc {
    font-size: 1.3px;
    font-size: 1.3vw;
}

.hidden-link {
    color: black;
    text-decoration: none;
    cursor: url(../img/cursor.png) 15 15, crosshair;
}

.toggle-text {
}


.very-specific-design {
    text-align: left;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif
	font-size: 100px;
	font-style: normal;
	font-variant: normal;
	font-weight: 800;
	line-height: 26.4px;
    background: white;
    position: relative;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
}

.scaleable-wrapper {
    resize: both;
    position: relative;
}

.collection:target {
    display: block;
}

.collection {
    top: 10%;
    position: absolute;
    display: none;
}

.collage {
    top: 20%;
    position: absolute;
    width: 50%;
    left: 25%;
    padding: 1%;
    display: block;
}

