html {
    height: 101%;
    margin: 0;
    opacity: 1;
    cursor: url(../img/cursor.png) 15 15, crosshair;
}
* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
	top: 0;
	color: #fff;
}
.vid-info { position: absolute; top: 0; right: 0; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}
body {
    cursor: url(../img/cursor.png) 15 15, crosshair;
	  background-image: url("designjlh/img/BG.gif");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}

a {
    cursor: url(../img/cursor.png) 15 15, crosshair;
}

 span {
      color: Black;
      cursor: pointer;
      text-decoration: underline;
    }


#Home {
    position: fixed;
    left: 3%;
    top: 3%;
    min-width: 4%;
    max-width: 4%;
    height:auto;
    display: none;
}


.h1 {
    word-wrap: break-word;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif
	font-size: 100px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 50px;

    display: inline-block;
    text-align: left;
    max-width: 50%;
    min-width: 100%;
    padding: 2%;
	} 
a.navlink:visited 
a.navlink:hover
{
    background-color: #3366FF; 
}

a:link
a:visited
{  color: black;
}


a:hover {
    color: black;
text-decoration: underline;
}



.img-desc {
    font-size: 1.3px;
    font-size: 1.3vw;
}

.hidden-link {
    color: black;
    text-decoration: none;
    cursor: url(../img/cursor.png) 15 15, crosshair;
}

.toggle-text {
}


.very-specific-design {
    text-align: left;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif
	font-size: 100px;
	font-style: normal;
	font-variant: normal;
	font-weight: 800;
	line-height: 26.4px;
    background: white;
    position: relative;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
}

.scaleable-wrapper {
    resize: both;
    position: relative;
}

.collection:target {
    display: block;
}

.collection {
    top: 10%;
    position: absolute;
    display: none;
}

.collage {
    top: 20%;
    position: absolute;
    width: 50%;
    left: 25%;
    padding: 1%;
    display: block;
}

